* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

/* header */
.header {
  background-color: #940404;
  color: white;
}

.social-hover:hover {
  transform: translateY(-7px);
  transition: 1s;
}

/* navbar */
nav {
  box-shadow: 3px 3px 3px black;
  background-color: white;
}

nav ul li {
  font-size: 18px;
}

.nav-b {
  background-color: #c80606;
  color: #f6f6f6;
  text-decoration: none;
  padding: 17px 40px;
  font-size: smaller;
}



.footer-style {
  /* background: rgb(73, 36, 138);
  background: radial-gradient(circle, rgb(31, 31, 31) 4%, rgb(14, 14, 14) 48%); */
  background-color: #2c0000;
  color: #c4dbe5;
  margin-top: 8%;
}