<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/contact.css">
  <link rel="stylesheet" href="../bootstrap-5.3.0-alpha1-dist copy/css/bootstrap.min.css">
  <link rel="stylesheet" href="../fontawesome-free-6.4.0-web/css/all.css">
  <link rel="stylesheet" href="../assets/css/mediaquery.css">
  <link rel="stylesheet" href="../assets/css/tools.css">
  <title>Document</title>
</head>

<body>
  <div class="preloader"></div>

   <!-- totop -->
   <div id="progress">
    <span id="progress-value">&#x1F815;</span>
  </div>

  <header class="navbar navbar-expand-md header">
    <div class="container d-flex pt-1 align-items-baseline">
      <div class="d-flex align-items-baseline">
        <i class="fa-solid fa-phone"></i>
        <p class="mx-3">+234(9086467890)</p>|
        <p class="mx-3">justwith2@gmail.com</p>
      </div>
      <ul class="navbar-nav list-unstyled">
        <li class="nav-items"><a href=""><i class="fab fa-facebook mx-3 nav-link fs-5 text-light social-hover"></i></a>
        </li>
        <li class="nav-items"><a href=""><i class="fab fa-twitter nav-link fs-5 social-hover text-light"></i></a></li>
        <li class="nav-items"> <a href=""><i class="fab fa-linkedin mx-3 nav-link fs-5 social-hover text-light"></i></a>
        </li>
        <li class="nav-items"><a href=""><i class="fab fa-instagram nav-link fs-5 social-hover text-light"></i></a></li>
      </ul>
    </div>
  </header>


  <!-- navbar -->
  <nav class="navbar navbar-expand-lg position-sticky top-0 p-2 z-3 pb-3 align-items-center">

    <a href="./About.htm" class="text-decoration-none">
      <div class="d-flex align-items-center">
        <img src="../assets/img/Untitled design(1).png" class="rounded-pill" width="50px" alt="">
        <h3 class="text-dark fw-bold mt-3 mx-2">Wristech Store</h3>
      </div>
    </a>

    <!-- navbar icon -->
    <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#icon-nav"><span
        class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse text-center" id="icon-nav">
      <ul class="navbar-nav list-unstyled mx-auto text-decoration-none fw-bold">
        <li class="nav-items"><a href="index.html" class="nav-link mx-2">Home</a></li>
        <li class="nav-items"><a href="./About.htm" class="nav-link mx-2">About</a></li>
        <li class="nav-items"><a href="./gallery.html" class="nav-link mx-2">Gallery</a></li>
        <li class="nav-items dropdown"><a href="../templates/shop.html" class="nav-link mx-2 ">Shop</a>
        </li>
        <li class="nav-items"><a href="./features.html" class="nav-link mx-2">Features</a></li>
        <li class="nav-items"><a href="./contact.htm" class="nav-link mx-2">Contacts</a></li>
      </ul>

      <div class="d-lg-flex align-items-center">
        <div class="mx-3">
          <a href="./Registration/Sign.htm">
            <i class="fas fa-circle-user text-danger my-2 fs-5"><br><span>sign in</span></i></a>
        </div>
        <div class="mx-3">
          <i class="fas fa-shopping-cart text-danger my-2 fs-5"></i>
        </div>
        <div class="my-3 mx-2">
          <a href="" class="rounded-pill fw-bold nav-b">BUY NOW</a>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <div class="container">
      <div class=" my-3" style="height: 50vh;" data-aos="fade-left">
        <!-- map -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.5031074860717!2d7.031201973252489!3d5.492035434293167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104259bb87938831%3A0x6bc0d5c201c8acee!2s10%20Wetheral%20Rd%2C%20460281%2C%20Owerri%2C%20Imo!5e0!3m2!1sen!2sng!4v1698003839033!5m2!1sen!2sng"
          frameborder="0" style="border:0; width: 100%; height: 310px; border: 3px solid rgb(0, 0, 0);"
          allowfullscreen></iframe>
      </div>

      <div class="container my-5">
        <div class="row">
          <div class="col-lg-8 pb-4" style="box-shadow: 2px 2px 12px black;" data-aos="fade-right">
            <div class="text-center py-5 container">
              <h2>Get In Touch</h2>
              <div class="align-items-center d-flex text-center container">
                <div class="line-b" style="margin-left: 33%;"></div><span>&#11088;</span>
                <div class="line-b"></div>
              </div>
              <p>Kindly fill this form and we will get back to you as soon as possible. You can also contact us through
                09037218575 or 08046833832 or email us on samrtg-tech@gmail.com.ng
              </p>
            </div>
            <form>
              <div class="row container">
                <div class="col-lg-6">
                  <input type="text" placeholder="Your  Name*" class="form-control p-3 mb-3"
                    style="border: 3px solid #535252;">
                </div>
                <div class="col-lg-6">
                  <input type="email" placeholder="Email Address*" class="form-control p-3 mb-3"
                    style="border: 3px solid #535252;">
                </div>
              </div>
              <div class="row container my-4">
                <div class="col-lg-6">
                  <input type="number" placeholder="Phone Number*" class="form-control p-3 mb-3"
                    style="border: 3px solid #535252;">
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Subject*" class="form-control p-3 mb-3"
                    style="border: 3px solid #535252;">
                </div>
              </div>
              <div class="container">
                <textarea name="text" rows="5" class="form-control" id="text-area" placeholder="message"
                  style="border: 3px solid #535252;"></textarea>
              </div>
              <p class="text-center pt-4" style="margin-right: 5%; margin-top: 20px;"><a href=""
                  class="rounded-pill nav-b fw-bold">Send Message</a></p>
            </form>

          </div>
          <div class="col-lg-4" data-aos="fade-left">
            <div class="py-5">
              <div class="d-flex align-items-center" style="box-sizing: border-box;">
                <div class="py-3 mx-3" style="border-radius: 50%; background-color: #ebb5b5;">
                  <i class="fa-solid fa-location-dot mx-4 text-danger fs-4"></i>
                </div>
                <div class="my-3">
                  <p class="fs-3 fw-bold">Location:<br>
                    <span class="h5">10 wetheral road,owerri,</span>
                  </p>
                </div>
              </div>
              <div class=" d-flex align-items-center">
                <div class="py-3 mx-3" style="border-radius: 50%; background-color: #ebb5b5;">
                  <i class="fa-regular fa-envelope mx-4 text-danger fs-4"></i>
                </div>
                <div class="my-3">
                  <p class="fs-3 fw-bold">Email:<br><span class="h5">info3fin@example.com</span></p>
                </div>
              </div>
              <div class=" d-flex align-items-center">
                <div class="py-3 mx-3" style="border-radius: 50%; background-color: #ebb5b5;">
                  <i class="fa-solid fa-mobile mx-4 text-danger fs-4"></i>
                </div>
                <div class="my-3">
                  <p class="fs-3 fw-bold">Call:<br><span class="h5">+(234) 9167398540</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  
  <div class="p-5 mb-3" style="background-color: #940404">
    <div class="contaner">
      <div class="text-center">
        <a style="color:#d6effa;"><i class="fs-3 mx-2 fab fa-instagram"></i></a>
        <a style="color:#d6effa;"><i class="fs-3 mx-2 fab fa-twitter"></i></a>
        <a style="color:#d6effa;"><i class="fs-3 mx-2 fab fa-facebook"></i></a>
        <a style="color:#d6effa;"><i class="fs-3 mx-2 fab fa-youtube"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-style">
    <div class="container pt-3">
      <div class="row pt-5" style="padding-bottom: 7%;">
        <div class="col-md-6">
          <h3>Smartwatch Emporium</h3>
          <p>Stay connected with smartwatch Emporium <br>.Explore the lastest in wearable teachnology.</p>
          <div class="mt-5 align-items-center">
            <a style="color:#d6effa;"><img src="../assets/img/master-card-logo.png" alt="" class="" width="8%"></a>
            <a style="color:#d6effa;"><img src="../assets/img/paypal-logo2.png" alt="" class="mx-4 " width="11%"></a>
            <a style="color:#d6effa;"><img src="../assets/img/visa-logo.png" alt="" class="" width="8%"></a>
          </div>
          <p class="pt-3"><i class="fa-solid fa-lock mx-2"></i> <span class="mx-2">Secure online payment</span></p>
        </div>
        <div class="col-md-3">
          <h5>BEST EXPERIENCE</h5>
          <p>FAQ</p>
          <p>Shipments</p>
          <p>Returns</p>
          <p>Gift cards</p>
          <p>Policies</p>
        </div>
        <div class="col-md-3">
          <h5>COMPANY</h5>
          <p>ABout us</p>
          <p>Press</p>
          <p>Officies</p>
          <p>Affliates</p>
          <p>Giveaway</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-2">
    <p>&copy; 2024 Smartwatch Emporium. All rights reserved.</p>
  </footer>
  <script src="../bootstrap-5.3.0-alpha1-dist copy/js/bootstrap.bundle.js"></script>
  <script src="../assets/js/tools.js"></script>
</body>

</html>