<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/shop.css">
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha1-dist copy/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css">
  <link rel="stylesheet" href="../assets/css/mediaquery.css">
  <title>Document</title>
</head>

<body>

  <header class="navbar navbar-expand-md header">
    <div class="container d-flex pt-1 align-items-baseline">
      <div class="d-flex align-items-baseline">
        <i class="fa-solid fa-phone"></i>
        <p class="mx-3">+234(9086467890)</p>|
        <p class="mx-3">justwith2@gmail.com</p>
      </div>
      <ul class="navbar-nav list-unstyled">
        <li class="nav-items"><a href=""><i class="fab fa-facebook mx-3 nav-link fs-5 text-light social-hover"></i></a>
        </li>
        <li class="nav-items"><a href=""><i class="fab fa-twitter nav-link fs-5 social-hover text-light"></i></a></li>
        <li class="nav-items"> <a href=""><i class="fab fa-linkedin mx-3 nav-link fs-5 social-hover text-light"></i></a>
        </li>
        <li class="nav-items"><a href=""><i class="fab fa-instagram nav-link fs-5 social-hover text-light"></i></a></li>
      </ul>
    </div>
  </header>


  <!-- navbar -->
  <nav class="navbar navbar-expand-lg position-sticky top-0 p-2 z-3 align-items-center">

    <!-- logo -->
    <a href="index.html" class="text-decoration-none">
      <div>
        <h1 class="text-dark fw-bold logo-size"><img src="../assets/img/Untitled design(1).png" class="rounded-pill"
            width="50px" alt="">
          De mavis
        </h1>
      </div>
    </a>

    <!-- navbar icon -->
    <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#icon-nav"><span
        class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse text-center" id="icon-nav">
      <ul class="navbar-nav list-unstyled mx-auto text-decoration-none fw-bold">
        <li class="nav-items"><a href="home.html" class="nav-link mx-2">Home</a></li>
        <li class="nav-items"><a href="gallery.html" class="nav-link mx-2">Gallery</a></li>
        <li class="nav-items"><a href="" class="nav-link mx-2">Features</a></li>
        <li class="nav-items"><a href="" class="nav-link mx-2">Review</a></li>
        <li class="nav-items"><a href="shop.html" class="nav-link mx-2">Shop</a></li>
      </ul>

      <div class="d-lg-flex align-items-center">
        <div class="mx-3">
          <i class="fas fa-shopping-cart text-danger my-2 fs-5"></i>
        </div>
        <div class="my-3 mx-2">
          <a href="" class="rounded-pill fw-bold nav-b">BUY NOW</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- heading -->
  <div class="heading_shop">
    <div class="container" style="padding: 4%;">
      <div>
        <p class="text-center h3 fw-bold">Shop</p>
        <p style="text-align: right;"><a href="" class="text-decoration-none text-primary">Home</a> ><span
            class="fw-bold">
            products</span></p>
      </div>
    </div>
  </div>

  <div>
    <div class="">

    </div>
    <div class="">

    </div>
  </div>

  <div style="background: rgb(161,72,169);
  background: radial-gradient(circle, rgba(161,72,169,1) 0%, rgba(17,17,18,1) 82%); color: aliceblue;">
    <div class="container">
      <div class="row g-3">
        <div class="col-md-3">
          <img src="../assets/img/Watch5-300x300.jpg" alt="" class="img-fluid">
          <p class="fw-bold mt-3">Mint Green</p>
          <p class="strap-position">STRAP</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop1.html" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 15K.00</p>
        </div>

        <div class="col-md-3">
          <img src="../assets/img/Watch8-300x300.jpg" alt="" class="img-fluid">
          <p class="fw-bold mt-3">Light Pink</p>
          <p class="strap-position">STRAP</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop2.htm" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 15K.00</p>
        </div>
        <div class="col-md-3">
          <img src="../assets/img/black-watch-4.4.jpg" alt="" class="img-fluid">
          <p class="fw-bold mt-3">Charcoal Black</p>
          <p class="strap-position">BODY</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop3.html" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 18K.00</p>

        </div>
        <div class="col-md-3">
          <img src="../assets/img/Watch6-300x300.jpg" alt="" class="img-fluid">
          <p class="fw-bold mt-3">Golden Sunset</p>
          <p class="strap-position">STRAP</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop4.htm" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 15K.00</p>
        </div>

      </div>

      <div class="row g-3 mt-5">
        <div class="col-md-3">
          <img src="../assets/img/Watch1-300x300.jpg" alt="" class="img-fluid">
          <p class="fw-bold mt-3">Snow White</p>
          <p class="strap-position">STRAP</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop5.htm" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 15K.00</p>
        </div>
        <div class="col-md-3">
          <img src="../assets/img/Watch7-300x300.jpg" alt="" class="img-fluid">
          <p class="fw-bold mt-3">Sky Blue</p>
          <p class="strap-position">STRAP</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop6.htm" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 15K.00</p>
        </div>
        <div class="col-md-3">
          <img src="../assets/img/Watch2-300x300.jpg" alt="" class="img-fluid">
          <p class="fw-bold mt-3">Purple berry</p>
          <p class="strap-position">BODY</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop7.htm" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 15K.00</p>

        </div>
        <div class="col-md-3">
          <img src="../assets/img/Watch3-300x300.jpg " alt="" class="img-fluid">
          <p class="fw-bold mt-3">Pink Lemonade</p>
          <p class="strap-position">STRAP</p>
          <div class="d-flex align-items-center">
            <div class="border-line-cart"></div>
            <a href="../Extrapage/shopFiles/shop8.htm" class="btn-shop">
              <i class="fa-solid fa-shopping-cart"></i>
            </a>
          </div>
          <p style="font-size: 15px; font-weight: bolder;">&#8358; 15K.00</p>
        </div>

      </div>
    </div>
  </div>


  <div class="footer-style">
    <div class="container pt-3">
      <div class="row pt-5" style="padding-bottom: 7%;">
        <div class="col-md-6">
          <h3>RisWATCH</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Laborum impedit reiciendis.</p>
          <div class="mt-5 align-items-center">
            <a style="color:#d6effa;"><img src="../assets/img/master-card-logo.png" alt="" class="" width="8%"></a>
            <a style="color:#d6effa;"><img src="../assets/img/paypal-logo2.png" alt="" class="mx-4 " width="11%"></a>
            <a style="color:#d6effa;"><img src="../assets/img/visa-logo.png" alt="" class="" width="8%"></a>
          </div>
          <p class="pt-3"><i class="fa-solid fa-lock mx-2"></i> <span class="mx-2">Secure online payment</span></p>
        </div>
        <div class="col-md-3">
          <h5>BEST EXPERIENCE</h5>
          <p>FAQ</p>
          <p>Shipments</p>
          <p>Returns</p>
          <p>Gift cards</p>
          <p>Policies</p>
        </div>
        <div class="col-md-3">
          <h5>COMPANY</h5>
          <p>ABout us</p>
          <p>Press</p>
          <p>Officies</p>
          <p>Affliates</p>
          <p>Giveaway</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/bootstrap-5.3.0-alpha1-dist copy/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="../assets/js/shop.js">
</body>

</html>